<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page</title>
    <link href="./public/error.css" type="text/css" rel="stylesheet">

</head>
<body>

    <div class="header">
        <div class="container">
            TTN BUZZ
        </div>
    </div>

    <div class="errorcontainer">
        <div class="wrapper">
            <img src="../../../client/assets/images/tinsanity-404-page.gif" alt="image not found"/>
        </div>
    </div>

    <footer class="errorfooter">
        <div class="container">
            <span class="companyname">&copy; To The New</span>
        </div>
    </footer>

</body>
</html>