
.bannerChildContainer1{

    height:100px;
    width:100px;
    float:left;

}

.bannerImg1{
    max-height:100%;
    max-width: 100%;
    position: relative;
    top:30px;
    left:40px;
    z-index: 1;
}

.textOnBanner {
    color: #ffffff;
    font-size: 25px;
    font-family: Tahoma;
    position: absolute;
    top: 40%;
    left: 10%;
    font-weight: bold;
}

.bannerChildContainer2{

    float:right;
    margin-top: 30px;
    margin-right: 30px;
}

.bannerChildContainer2 button a{
    text-decoration: none;
    color:white;
}

.bannerImg2{

    height:100%;
    width:100%;
}
.bannerChildContainer3{

    clear:both;
    height:270px;
    position:relative;
}

