
.bannerChildContainer1{

    height: 100px;
    width: 168px;
    float: left;
    position: absolute;

}

.bannerImg1{

    position: relative;
    top:30px;
    left:40px;
    z-index: 1;
}

.textOnBanner {
    color: #ffffff;
    font-size: 25px;
    position: absolute;
    top: 66%;
    left: 3%;
    font-weight: bold;
}

.bannerChildContainer2{
    float: right;
    position: absolute;
    top: 9%;
    z-index: 999999;
    right: 4%;
    color: white;
    font-weight: bold;
}

.pop-over {
    color:red;
}

.bannerChildContainer2 button {
 padding: 0;
}

.bannerChildContainer2 button a{
    text-decoration: none;
    color:white;
    padding: 4px;
    display: inherit;
    outline: none;
}

.bannerImg2{

    height:100%;
    width:100%;
}
.bannerChildContainer3{

    clear:both;
    height:400px;
    position:relative;
}


 .modal-container {
      position: relative;
     }
 .modal-container .modal, .modal-container .modal-backdrop {
       position: absolute;
     }
.userinfo {
    text-transform: uppercase;
    margin-right: 10px;
    font-weight: bold;
}
