.containers {
    /*overflow: hidden;*/
}

.leftPanel {
    width: 30%;
    float: left;
    margin-left: 15px;
}

.rightpanel {
    width: 60%;
    float: left;
    margin-left: 10px;
    margin-top: 15px;
}

.buzzCom {
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 15px;

}

.buzzCom ul{
    margin: 0;
    padding: 0;
}

.buzzCom ul li {
    list-style: none;
    padding-top: 22px;
    display: inline-block;
    padding-bottom: 11px;
    padding-left: 15px;

}

.buzzCom ul a {
    text-decoration: none;
    width:100%;
    display: inline-block;
    color: #000;
}

#buzz {
    border-bottom: 1px solid lightgrey;
}

.buzzCom ul a:hover
{
    color: red;
}

.leftfooter {
    margin-top: 15px;
}

.leftfooter p {
    display: inline;
    margin-left: 5px;
}

.leftfooter ul{
    float: right;
    margin: 0;
}

.leftfooter ul li {
    display: inline-block;
    list-style: none;
    margin-left: 15px;
}

.leftfooter ul li a {
    text-decoration: none;
    color: deepskyblue;
}


/*right panel*/

.createbuzz {
    border-radius: 5px;
    border: 1px solid lightgray;
}

.buzzheader {
    background-color: lightgrey;
    height: 42px;
    font-size: 21px;
    padding-left: 7px;
    line-height: 42px;
}

.createbuzz textarea {
    resize: none;
    width:100%;
    border: none;
    outline: none;
    height:100px;
    margin: 0;
    padding-left: 10px;
}


.buzzfooter {
    height:60px;
    border-top: 1px solid lightgray;
}

.category select {
    height: 40px;
    width: 100px;
    border-radius: 5px;
    padding-left: 4px;
    margin: 10px;
    outline: none;
    background-color: green;
    color: #fff;
    cursor: pointer;
    float: left;
}

.category select option {
    background-color: #fff;
    color: #000000;
    cursor: pointer ;
}




.buzzfooter button{
    float: right;
    margin-top: 15px;
    margin-right: 10px;
    color: #ffffff;
    border: none;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 5px;
}

#camera {
    width:50px;
    height:50px;
    margin-top: 3px;
    float: left;
}



.post {
    margin-top: 15px;
    background-color: #ffffff;
    border:1px solid lightgrey;
    border-radius: 5px;
    overflow: hidden;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.Username {
    font-weight: bold;
    margin-left: 10px;
    margin-top: 5px;
    float: left;
    display: block;
}

.user {
    float: left;
    width:250px;
}

.postheader img {
    width: 50px;
    height:50px;
    float: left;
}

.userDetails {
    margin-left: 10px;
    float: left;
    clear: both;
}

.status {
    float: right;
    margin-right: 10px;
    background-color: green;
    color: #ffffff;
    display: inline-block;
    padding: 5px 25px;
}

.postcontainer {
    clear: both;
    overflow: hidden;
}


.postimage {
    width: 45%;
    height:250px;
    margin-right: 10px;
    margin-top: 15px;
    overflow: hidden;
}

.postimage img {
    width: 100%;
    height: 100%;

}

.postthoughts {
    margin-top: 10px;
    float: left;
    width:100%;
}


.postfooter {
    clear: both;
    padding: 0;
    margin-top: 10px;
    float: left;
    overflow: hidden;
    width: 100%;
}

.postfooter span{
    margin-right: 10px;
}

.item_name {
    margin-left: 10px;
}


.likediscom span {
    margin-right: 10px;
}


.icon-warning {
    color: #ff0000;
    cursor: pointer;
}

.icon-success {
    color: #008000;
    cursor: pointer;
}

.icon-comment {
    cursor: pointer;
    color: dodgerblue;
}

.postcomment {
    margin-top: 10px;
    float: left;
    clear: both;
    width: 100%;
}

.postcomment input[type="text"] {
    outline: none;
    width:80%;
    height:30px;
    padding-left: 5px;
}

input[type="text"]::-webkit-input-placeholder {
    padding-left: 5px;
    padding-top: 5px;
}

.commentButton {
    float: right;
    background-color: black;
    color: #ffffff;
    border: none;
    text-transform: uppercase;
    padding: 5px;
    margin-right: 15px;
}

.imCamera {
    background-image: url("../../../src/client/assets/images/Camera-icon.png");
    position: relative;
    float: left;
    display: inline-block;
    background-size: 50px 50px;
    background-repeat: no-repeat;
    margin-top: 3px;
}


input[type="file"] {
    opacity: 0;
    width:50px;
    height:50px;
}
.comment-box{
    margin: 5px 0;
}

.comments{
    font-size:10px;
}

.comment-area{
    overflow: hidden;
    width: 80%;
}